.header1 {
  margin-top: 15vw;
  text-align: center;
  color: white;
}
.header1 h1 {
  font-size: 70px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.header1 p {
  font-size: 20px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}
